* {
    padding: 0px;
    margin: 0px;
}

.container {
    height: 250vh;
    width: 100%;
    background-image: url(2.png.jpeg);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: absolute;
    left: 5px;
}

.navbar {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 20px;

}

.navbar .logo {
    width: 10%;
    cursor: pointer;
    margin-left: 0px;
}

.cart {
    width: 40px;
    cursor: pointer;
}

.me .cart {
    width: 25;
    margin-left: 40px;
    cursor: pointer;
}

nav {
    flex: 1;
    padding-left: 60px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    font-weight: bold;

}

.content h1 {
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: rgba(50, 51, 34, 0.867);
}

.content p {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    opacity: 0.7;

}

.content {
    margin-left: 10%;
    margin-top: 10%;
}

.content .btn {
    display: inline-block;
    background: linear-gradient(45deg, #87adfe, #87adfe, #ff77cd);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);

}

.icon {
    margin-top: 40px;
    display: flex;
    background: ;
}

.icon img {
    width: 40px;
    margin-right: 25px;
}

.feature img {
    width: 70%;
    height: 700px;
    float: right;
    opacity: 1.0;



}

.feature {
    position: absolute;
    top: 30%;
    right: 60px;



}





.social {
    transform: rotate(-90deg);
    position: absolute;
    left: -80px;
    bottom: 180px;
}

.social a {
    text-decoration: none;
    color: #fff700;
    padding-right: 20px;
    font-size: 14px;
}

.search {
    position: absolute;
    right: 350px;
    top: 1%;
}

.search input {
    font-weight: bold;
    font-size: 20px;
    color: #000;
    background: rgb(200, 172, 172);
    opacity: 0.5;
}